# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Raw dataset
data/
*.xlsx
*.xls

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
